<div class="wrapper box">

	<h2>Filters</h2>

	<!--
			<button class="filter active">
				<span class="icon icon-single-player"></span>
				Single-player
			</button>
			<button class="filter">
				<span class="icon icon-multi-player"></span>
				Multi-player
			</button>
			<button class="filter active">
				<span class="icon icon-co-op"></span>
				Co-op
			</button>
	-->

	<div class="filter-set features" id="filter-features">
		<div class="title">By Features</div>

		<div class="filters">
			<% _.each(data.features, function(item) { %>
			<button class="filter" value="<%- item %>" data-set="features">
				<%- item %>
			</button>
			<% }); %>
		</div>
	</div>

	<div class="filter-set genres" id="filter-genres">
		<div class="title">By Genre</div>

		<div class="filters">
			<% _.each(data.genres, function(item) { %>
			<button class="filter" value="<%- item %>" data-set="genres">
				<%- item %>
			</button>
			<% }); %>
		</div>
	</div>

	<div class="filter-set developers" id="filter-developers">
		<div class="title">By Developer</div>

		<div class="filters">
			<% _.each(data.developers, function(item) { %>
			<button class="filter" value="<%- item %>" data-set="developers">
				<%- item %>
			</button>
			<% }); %>
		</div>
	</div>

	<div class="filter-set publishers" id="filter-publishers">
		<div class="title">By Publisher</div>

		<div class="filters">
			<% _.each(data.publishers, function(item) { %>
			<button class="filter" value="<%- item %>" data-set="publishers">
				<%- item %>
			</button>
			<% }); %>
		</div>
	</div>

	<div class="filter-set owners" id="filter-owners">
		<div class="title">By Owner</div>

		<div class="filters">
			<% _.each(data.owners, function(item) { %>
			<button class="filter" value="<%- item.id %>" data-set="owners">
				<%- item.name %>
			</button>
			<% }); %>
		</div>
	</div>

</div>
