<div class="wrapper box">

	<h2>Filters</h2>

<% _.each(data.filterSets, function(filterSet) { %>
	<div class="filter-set" id="filter-set-<%- filterSet.id %>"
		data-filter-set-id="<%- filterSet.id %>">
		<div class="title"><%- filterSet.title %></div>

		<div class="filters">
			<%
				_.each(filterSet.availableValues, function(item) {
					var value      = item.value || item,
						title      = item.title || item,
						isSelected = _.include(filterSet.selectedValues, value),
						isEnabled  = _.include(filterSet.enabledValues, value)
			%>
			<button class="<%= (isSelected) ? 'filter active' : 'filter' %>"
				value="<%- value %>" <%= (isEnabled) ? '' : 'disabled="disabled"' %>
				data-filter-id="<%- filterSet.id %>">
				<%- title %>
			</button>
			<% }); %>
		</div>
	</div>
<% }); %>

</div>
